.login-container {
    width: 100vw;
    height: 100vh;
    background: url(@/assets/login-bg.png) center / cover no-repeat;
}

.login-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 0.313rem;
    padding: 30px;
}

.form-prefix-icon{
    color: #666;
}